/* @tailwind base;
@tailwind components;
@tailwind utilities; */
:root {
  --yinmn-blue: #26547cff;
  --bright-pink-crayola: #ef476fff;
  --sunglow: #ffd166ff;
  --emerald: #06d6a0ff;
  --white: #fcfcfcff;
}

/* body {
  min-height: calc(100vh - 40px);
  position: relative;
  padding: 15px;
  font-family: sans-serif;
  font-size: 21px;
}

.homepage {
  background: #f4f9fc;
}

.homepage-content {
  padding: 28px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  padding: 15px;
  margin: 5px;
  color: #131d5c;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-links a:hover {
  text-decoration: underline;
}

.logo p {
  margin: 0;
  font-size: 60px;
}

.hero-section, .about-section {
  min-height: 30vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 33.33vh;
    flex-direction: column;
}

h1 {
  font-size: 70px;
  margin-bottom: 30px;
}

.subtitle {
  font-size: 30px;
}

.about-section {
  margin-top: 33.33vh;
}

.about-section p {
  max-width: 800px;
}

hr {
  border: 1px solid #131d5c;
  border-radius: 10px;
}

img {
  max-width: 200px;
  height: auto;
}

.projects {
  display: flex;
  flex-direction: column;
}

.project {
  display: flex;
  padding-bottom: 30px;
  padding-top: 50px;
  align-items: center;
  justify-content: center;
}

.project-content {
  max-width: 600px;
  padding: 20px;
}

.project-description {
  margin-bottom: 40px;
}

.project a {
  text-decoration: none;
  color: #131d5c;
}

.project-button {
  border: 2px solid #131d5c;
  padding: 10px;
}

.project-button:hover {
  background-color: #131d5c;
  color: #f4f9fc;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 30px;
}

.social-links {
  display: flex;
  align-items: center;
}

.link-container img {
  width: 50px;
  margin-left: 20px;
}
 */

 body {
  font-family: sans-serif;
  font-size: 21px;
 }

 main {
  width: 100%;
  height: 100%;
 }

 .homepage-sections {
  display: flex;
  border: 2px solid #081520;
 }

 .navigation {
  background-color: #2196f3;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #081520;
 }

 .nav-links a {
  padding: 15px;
  margin: 5px;
  color: #081520;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-links a:hover {
  text-decoration: underline;
}

 .logo p {
  margin: 0;
  font-size: 60px;
 }
 .page-left, .page-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

 .page-left {
  position: sticky;
  height: 100vh;
  width: 50%;
  top: 0;
  background-color: #081520;
  color: #fcfcfcff;
  padding: 20px;
 }

 h1 {
  font-size: 70px;
  margin: 0 0 30px 0;
}

.subtitle {
  font-size: 30px;
}


 .page-right {
  width: 50%;
  padding: 20px;
 }

 .projects {
  display: flex;
  flex-direction: column;
}

.project {
  display: flex;
  padding-bottom: 30px;
  padding-top: 50px;
  align-items: center;
  justify-content: center;
}

.project-content {
  max-width: 600px;
  padding: 20px;
}

.project-description {
  margin-bottom: 40px;
}

.project a {
  text-decoration: none;
  color: #131d5c;
}

.project-button {
  border: 2px solid #131d5c;
  padding: 10px;
}

.project-button:hover {
  background-color: #131d5c;
  color: #f4f9fc;
}

 .project img {
  width: 200px;
  height: auto;
 }

 footer {
  background-color: #673ab7;
  border: 2px solid #081520;
  border-top: none;
 }

 .footer-container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
}

.social-links {
  display: flex;
  align-items: center;
}

.link-container img {
  width: 50px;
  margin-left: 20px;
}

.project-header {
  font-size: 50px;
}

.project-page {
  border: 2px solid #081520;
}

.project-heading {
  background-color: #2196f3;
  border: 2px solid #081520;
  margin: 0;
  padding: 20px;
  display: flex;
  align-items: center;
}

.project-heading .logo {
  font-size: 60px;
}

.project-heading a {
  text-decoration: none;
  color: #081520;
  margin-left: 15px;
}

.project-image img {
  width: 300px;
  height: auto;
}

.project-page article {
  padding: 30px;
  min-height: 100vh;
}

.project-page .links {
  margin-bottom: 30px;
}

.project-page .links a {
  border: 2px solid #131d5c;
  padding: 10px;
  text-decoration: none;
  color: #131d5c;
  margin-right: 15px;
}

.project-page .links a:hover {
  background-color: #131d5c;
  color: #f4f9fc;
}