:root {
  --navigation-bg: #2196f3;
  --footer-bg: #673ab7;
  --hero-bg: #081520;
  --project-bg: #fcfcfc;
  --hero-text-color: #fcfcfc;
  --project-button: #131d5c;
}

 body {
  font-family: sans-serif;
  font-size: 21px;
 }

 main {
  width: 100%;
  height: 100%;
 }

 .homepage-sections {
  display: flex;
  border: 2px solid #081520;
 }

 .navigation {
  background-color: var(--navigation-bg);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #081520;
 }

 .nav-links a {
  padding: 15px;
  margin: 5px;
  color: #081520;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-links a:hover {
  text-decoration: underline;
}

 .logo p {
  margin: 0;
  font-size: 60px;
 }

 .page-left, .page-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  width: 50%;
 }

 .page-left {
  position: sticky;
  height: 100vh;
  top: 0;
  background-color: var(--hero-bg);
  color: var(--hero-text-color);
 }

 .page-right {
    background-color: var(--project-bg);
 }

 h1 {
  font-size: 70px;
  margin: 0 0 30px 0;
}

.subtitle {
  font-size: 30px;
  font-weight: 300;
}

.about-section p {
  font-weight: 300;
}

 .projects {
  display: flex;
  flex-direction: column;
}

.project {
  display: flex;
  padding-bottom: 30px;
  padding-top: 50px;
  align-items: center;
  justify-content: center;
}

.project-content {
  max-width: 600px;
  padding: 20px;
}

.project-description {
  margin-bottom: 40px;
}

.project a {
  text-decoration: none;
  color: #081520;
}

.project-button {
  border: 2px solid var(--project-button);
  padding: 10px;
}

.project-button:hover {
  background-color: var(--project-button);
  color: #f4f9fc;
}

 .project img {
  width: 200px;
  height: auto;
 }

 footer {
  background-color: var(--footer-bg);
  border: 2px solid #081520;
  border-top: none;
 }

 .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-links {
  display: flex;
  align-items: center;
}

.link-container img {
  width: 40px;
  margin-left: 20px;
}

.project-header {
  font-size: 50px;
}

.project-page {
  border: 2px solid #081520;
}

.project-heading {
  background-color: #2196f3;
  border: 2px solid #081520;
  margin: 0;
  padding: 20px;
  display: flex;
  align-items: center;
}

.project-heading .logo {
  font-size: 60px;
}

.project-heading a {
  text-decoration: none;
  color: #081520;
  margin-left: 15px;
}

.project-image img {
  width: 200px;
  height: auto;
}

.project-page article {
  padding: 30px;
  min-height: 100vh;
}

.project-page .links {
  margin-bottom: 30px;
}

.project-page .links a {
  border: 2px solid #131d5c;
  padding: 10px;
  text-decoration: none;
  color: #131d5c;
  margin-right: 15px;
}

.project-page .links a:hover {
  background-color: #131d5c;
  color: #f4f9fc;
}

@media screen and (max-width: 992px) {
  .page-left, .page-right {
    width: auto;
    height: auto;
  }
  .page-left {
    position: relative;
  }
  .homepage-sections {
    display: block;
  }
}